<head>
  <title>Tweet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <p>{{greeting}}</p>
  <button type="button" class="btn btn-info fullbutton" id="logout">Log out</button>
  <table class="table">
    <tr>
      <td class="tableHeader">Tweets</td>
      <td class="tableHeader">Following</td>
      <td class="tableHeader">Followers</td>
    </tr>
    <tr>
      <td class="tableContent">TweetsCount</td>
      <td class="tableContent">Following</td>
      <td class="tableContent">Followers</td>
    </tr>
  </table>


</body>
